.ovt-logo {
	max-width: 150px;
	max-height: 150px;
	padding-left: 60px;
	border-radius: 70% 50% 52% 70% / 46% 54% 47% 53% 

}

.team-intro {

	display: flex;
	max-width: 100%;
	justify-content: space-around;
	background-color: #232323;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
	background-attachment: fixed;
}

.title {
	color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-left: 50px;
	justify-content: space-around; 
}


/* 
.team{
	max-width: 100%;
	width: 100%;
	height: auto;
	background-color: grey; */

/* } */

.team-photo {
	max-width: 800px;
	width: 100%;
	
	margin-left: 250px;
	border-style: double;
	border-width: 2px;
	border-color: cornflowerblue;
}

.info-div {
	background-color: #B6B6B6;
	/* max-width: 900px;1` */
	width: 100%;
	height: auto;
	/* margin-left: 200px; */
	text-align: center;
	text-indent: 40px;
	line-height: 30px;

}

.video1 {
	max-width: 600px;
	width: 100%;
}