.ovt-logo {
	max-width: 150px;
	max-height: 150px;
	padding-left: 60px;
	border-radius: 70% 50% 52% 70% / 46% 54% 47% 53% 

}

.team-intro {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	max-width: 100%;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	background-color: #232323;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
	background-attachment: fixed;
}
.title {
	padding-right: 300px;
	padding-bottom: 80px;
	color: #FFFFFF;
	font-size: 30px;
	 display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	  -ms-flex-wrap: wrap;  
	    flex-wrap: wrap;
	padding-top: 50px; 
	padding-left: 50px; 
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}


.team{
	max-width: 100%;
	width: 100%;
	height: auto;
	background-color: grey; 

 }

.team-photo {
	max-width: 800px;
	width: 100%;
	
	margin-left: 250px;
	border-style: double;
	border-width: 2px;
	border-color: cornflowerblue;
	
}
.div {
	background-color: black;
}
.info-div {
	/* max-width: 900px;1` */
	width: 500px;
	height: auto;
	/* margin-left: 200px; */
	text-align: center;
	text-indent: 40px;
	line-height: 30px;
	color: white;

}

.video1 {
	max-width: 600px;
	width: 100%;
	margin-right: 10px;
	margin-top: 4px;

}

.info-cont{
	max-width: 100%;
	height: auto;
	display: flex;
	justify-content: first baseline;
	background-color: #272DF0;
}

.video-div {
	max-width: 600px;
	
}

.team-imgs {
	max-width: 100px;
}